{% load static menu_tags compress wagtailcore_tags wagtailimages_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="//use.typekit.net">
    <link rel="dns-prefetch" href="//cloud.typography.com">
    <link rel="dns-prefetch" href="//www.googletagmanager.com">
    <link rel="dns-prefetch" href="//code.jquery.com">
    <link rel="dns-prefetch" href="//stackpath.bootstrapcdn.com">
    <link rel="preconnect" href="//brown.us20.list-manage.com">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="wkcAVWy8ClxzqSm5y4O1zgeSVSi3QBaFD69VQP5YNvQ">

    <meta property="og:type" content="website">
    <meta property="og:title" content="The Policy Lab">
    <meta property="og:url" content="http://localhost:4060/">
    <meta property="og:image" content="{% static 'img/share-image.jpg' %}">
    <meta property="og:site_name" content="The Policy Lab">
    <meta property="og:description"
          content="We're a new lab at the center of Rhode Island’s infrastructure for evidence-based policymaking. Let's learn together.">

    <title>The Policy Lab</title>
    <meta name="description"
          content="We're a new lab at the center of Rhode Island’s infrastructure for evidence-based policymaking. Let's learn together.">

    <link rel="stylesheet" type="text/css" href="https://use.typekit.net/wag1nll.css">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7022116/7515612/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134641342-1"></script>
    <script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-134641342-1');

    </script>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">


    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#007ea8">
    <meta name="msapplication-TileColor" content="#007ea8">
    <meta name="theme-color" content="#007ea8">

</head>


<body class="layout__default page__home" data-spy="scroll" data-target="#main-nav">
<div id="top" class="l-wrapper">

    <div class="nav__container fixed-top">
        <nav id="main-nav" class="main__nav navbar navbar-expand-lg u__container nav">

            <a href="#content" class="nav-link nav__link nav__skip sr-only sr-only-focusable js-smoothscroll">Skip to
                main content</a>

            <button class="navbar-toggler nav__button" type="button" data-toggle="collapse" data-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="nav__button__icon">&equiv;</span>
                <span class="nav__button__text" style="font-weight: 600; padding-top: 0.2em;"><span class="sr-only">Open the </span>Menu</span>
            </button>
            <div class="collapse navbar-collapse nav__pane" id="navbarContent">
                <ul class="navbar-nav nav__list" role="navigation">

                    <li class="nav-item nav__item">
                        <a href="#top" class="nav-link nav__link js-smoothscroll">Welcome</a>
                    </li>

                    <li class="nav-item nav__item">
                        <a href="#anchor-connect" class="nav-link nav__link js-smoothscroll">Get Updates</a>
                    </li>

                    <li class="nav-item nav__item">
                        <a href="#anchor-events" class="nav-link nav__link js-smoothscroll">Events</a>
                    </li>

                    <li class="nav-item nav__item">
                        <a href="#anchor-theory" class="nav-link nav__link js-smoothscroll">Theory of Change</a>
                    </li>

                    <li class="nav-item nav__item">
                        <a href="#anchor-jobs" class="nav-link nav__link js-smoothscroll">Jobs</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>


    <div class="u__vspacing s__sky s__lil-splatter pb-0">

        <header class="main__header header u__spacing">
            <div class="brand">
                <a href="/" class="brand__link"><img class="brand__img" alt="Brown University"
                                                     src="{% static 'img/brown-policy-lab-2color.svg' %}"</a>
            </div>
        </header>


        <main id="content" class="main__content u__spacing pb-0">
            <article class="main__article intro">
                <header class="intro__header">
                    <h1>
                        <span class="text-uppercase">Welcome to</span>
                        <span class="display-1">The Policy Lab</span>
                    </h1>
                </header>
                <div class="intro__content u__content mx-auto">
                    <p class="h4 alt-bold">We’re at the center of Rhode Island’s<br> infrastructure for evidence-based
                        policymaking.</p>
                    <p class="h4 alt-bold">Let’s learn together.</p>
                </div>
            </article>
        </main>
        <div class="city--header city__sky">
            <div class="cloud cloud--1"></div>
            <div class="cloud cloud--2"></div>
            <div class="cloud cloud--3"></div>
            <div class="cloud cloud--4"></div>
            <div class="cloud cloud--5"></div>

            <img class="city__cityscape" src="{% static 'illus/cityscape_nosky.png' %}"  alt="">
        </div>
    </div>


    <section id="anchor-about" class="u__vspacing s__white">
        <article class="u__container">

            <div class="u__spacing">
                <div class="row">
                    <div class="col-md-3 col-lg-4">
                        <h2 class="h1">Why We’re Here</h2>
                    </div>
                    <div class="col-md-9 col-lg-8">
                        <p class="lead">The Policy Lab brings together experts from government, universities, and
                            community organizations to collaborate on research tailored to inform decisions about how to
                            improve policies and programs across the state.</p>
                    </div>
                </div>
            </div>

        </article>
    </section>


    <section id="anchor-connect" class="u__vspacing s__primary target-cynosure">
        <article class="u__container u__spacing connect">
            <div class="row">
                <div class="col-md-3 col-lg-4">
                    <h2 class="h1">Get Updates</h2>
                </div>
                <div class="col-md-9 col-lg-8">
                    <p class="lead">Sign up to get updates on projects, events, and new episodes of our podcast, <a
                            href="https://thirtythousandleagues.com/">30,000 Leagues</a></p>

                    <div id="anchor-signup" class="mc">
                        <div id="mc_embed_signup">
                            <h2 class="h6 text-center text-md-left">Subscribe</h2>
                            <form action="https://brown.us20.list-manage.com/subscribe/post?u=5050b7f10df36f1c41b3743cf&amp;id=cf85e54967"
                                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                  class="validate form-inline mc__form justify-content-center justify-content-md-start"
                                  target="_blank">
                                <div id="mc_embed_signup_scroll" class="form-group mc__wrapper">
                                    <label for="mce-EMAIL" class="mc__label sr-only">Please provide your email
                                        address:</label>
                                    <input type="email" name="EMAIL" class="form-control mc__input" id="mce-EMAIL"
                                           placeholder="name@email.com" required="" value="">
                                    <div class="mc__nectar" aria-hidden="true"><input type="text"
                                                                                      name="b_5050b7f10df36f1c41b3743cf_cf85e54967"
                                                                                      tabindex="-1" value=""></div>
                                    <input type="submit" name="subscribe" id="mc-embedded-subscribe"
                                           class="btn btn-info mc__button" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </article>
    </section>


    <section id="anchor-events" class="u__vspacing s__light">
        <article class="u__container u__spacing events">
            <div class="row">
                <div class="col-md-3 col-lg-4">
                    <h2 class="h1">Events</h2>
                </div>
                <div class="col-md-9 col-lg-8">
                {% for row in social_media_setting.event %}
                    <div class="events__description">

                        <h3 class="events__title"><a
                                href={{row.value.eventbrite}}
                                class="events__link" target="_blank" rel="nofollow">{{row.value.title}}</a></h3>
                        <p class="h5 events__date">
                            <time datetime={{row.value.datetime_google}}>{{row.value.datetime_reader}}
                            </time>
                        </p>
                        <p class="h5 events__location">
                            {{row.value.location_up}}<br>{{row.value.location_down}}</p>
                        <p class="h5 alt-bold events__map-link">
                            <a href={{row.value.googlemap}}
                               target="_blank" rel="nofollow">
                                <span class="events__map__text">Map &rarr;</span>
                            </a>
                        </p>
                        <p class="h5 alt-bold events__register-link">
                            <a href={{row.value.eventbrite}}
                               target="_blank" class=events__register__link"" rel="nofollow">Register on Eventbrite
                                &rarr;</a>
                        </p>
                        {{ row.value.description|richtext }}
                    </div>
                {% endfor %}
                </div>
            </div>
        </article>
    </section>


    <section id="anchor-quote" class="u__vspacing s__green">
        <article class="u__container">

            <figure class="u__spacing quote">
                <blockquote class="h2 quote__content">Applied research can be remarkably difficult, as theories often
                    fail to work in practice. We need scientists shoulder-to-shoulder with practitioners in those
                    moments, co-designing fresh ideas and iteratively experimenting to optimize solutions. The Policy
                    Lab is a place and group of people dedicated to this work. Think NASA or Bell Labs, but for public
                    policy.
                </blockquote>
                <figcaption class="quote__attribution">
                    <cite><a href="/team/david-yokum/">David Yokum</a>, Director</cite>
                </figcaption>
            </figure>

        </article>
    </section>


    <section id="anchor-theory" class="u__vspacing s__white">
        <article class="u__container">

            <div class="u__spacing">
                <h2 class="display-4 text-center text-primary">Theory of Change</h2>
                <hr class="squiggle">

                <div class="u__spacing u__container u__content">
                    <p class="text-center px-lg-5">It is common nowadays to agree that policy should be evidence-based.
                        But how to deliver on that rhetoric in practice is harder. We need not only the highest quality
                        scientific methods, but also a pragmatic mindset geared toward designing learning agendas that
                        can concretely inform decision-making within the bureaucratic and political trenches.
                    <p class="text-center px-lg-5">We look to improve policy outcomes through three interconnected
                        areas:</p>
                </div>

                <div class="container pb-sm-3 pb-lg-5">
                    <div class="row">
                        <div class="col-sm p-4 pb-0 my-2 mx-sm-2 mx-lg-3 theory__wrapper">
                            <p class="text-center"><img class="theory__icon"
                                                        src="{% static 'img/icon-generating-evidence.png' %}" alt=""
                                                        aria-hidden="true"/></p>
                            <p class="text-center">Generating evidence to fill knowledge gaps</p>
                        </div>
                        <div class="col-sm pt-4 px-4 my-2 mx-sm-2 mx-lg-3 theory__wrapper">
                            <p class="text-center"><img class="theory__icon"
                                                        src="{% static 'img/icon-integrating-evidence.png' %}" alt=""
                                                        aria-hidden="true"/></p>
                            <p class="text-center">Integrating that evidence into planning, budget, procurement, and
                                performance management processes</p>
                        </div>
                        <div class="col-sm pt-4 px-4 my-2 mx-sm-2 mx-lg-3 theory__wrapper">
                            <p class="text-center"><img class="theory__icon"
                                                        src= "{% static 'img/icon-building-coalitions.png' %}" alt=""
                                                        aria-hidden="true"/></p>
                            <p class="text-center">Building coalitions across government, universities, and community
                                organizations to support evidence-based policy</p>
                        </div>
                    </div>
                </div>

                <div class="u__spacing u__container u__content">

                    <p class="text-center px-lg-5">While many approaches to this work focus on one or two areas at a
                        time, building a culture of evidence-based policymaking requires us to pursue all three
                        simultaneously. We need a substantial amount of stakeholder engagement throughout the entire
                        research process — from carefully listening to and observing what questions most need answering,
                        to helping partners troubleshoot any unanticipated implementation issues based on the generated
                        answers.</p>

                    <p class="text-center px-lg-5">The partnership is also a vehicle for increasing staff training and
                        capacity by way of onsite trainings and courses, fellowships, speaker and event series, curating
                        a statewide integrated data system, and other activities to foster a community of practice
                        around the work.</p>

                </div>

        </article>
    </section>


    <section id="anchor-jobs" class="u__vspacing s__light-splatter pb-0 target-cynosure">
        <article class="u__container u__spacing jobs">
            <div class="row">
                <div class="col-md-3 col-lg-4">
                    <h2 class="h1">Join Us</h2>
                </div>
                <div class="col-md-9 col-lg-8">
                    <p class="lead">We’re looking for self-starters and team players to help us identify, develop, and
                        complete projects across a wide range of policy areas. </p>
                    <ul class="list-unstyled jobs__list">
                        <li class="jobs__list__item"><a
                                href="https://docs.google.com/forms/d/e/1FAIpQLSdeaTfulclIE1tk9qUFDAjCGMFKFsPS8f6F7F9wT7OukfJrEA/viewform">Fellow</a>
                        </li>
                        <li class="jobs__list__item"><a
                                href="https://brown.wd5.myworkdayjobs.com/en-US/staff-careers-brown/job/Sciences-Library/Data-Scientist_REQ161648-1">Data
                            Scientist</a></li>
                        <!-- <li class="jobs__list__item"><a href="https://brown.wd5.myworkdayjobs.com/en-US/staff-careers-brown/job/Sciences-Library/Project-Manager-1_REQ160824">Project Manager</a></li>
                        <li class="jobs__list__item"><a href="https://brown.wd5.myworkdayjobs.com/en-US/staff-careers-brown/job/Sciences-Library/Senior-Project-Manager_REQ157444-1">Senior Project Manager</a></li> -->
                        <li class="jobs__list__item"><a
                                href="https://docs.google.com/forms/d/e/1FAIpQLSeBTbRqUT1wmMVtqQvyUekirdEyttHF7D6_nXwLJnuf7fAYng/viewform">Engineering
                            Practices Lead</a></li>
                    </ul>
                    <p>Don’t see what you’re looking for? <a
                            href="https://docs.google.com/forms/d/e/1FAIpQLSfAYK-onTssVu_UZ70brJ5euSNcSUV7JLZ2mYNZb_rHoE4vBw/viewform">Send
                        us a message!</a></p>
                </div>
            </div>
        </article>
        <div class="city--footer city__sky">
            <div class="cloud cloud--1"></div>
            <div class="cloud cloud--2"></div>
            <div class="cloud cloud--3"></div>
            <div class="cloud cloud--4"></div>
            <div class="cloud cloud--5"></div>

            <img class="city__cityscape" src="{% static 'illus/cityscape_nosky.png' %}"  alt="">
        </div>
    </section>


    <footer id="anchor-contact" class="main__footer footer u__vspacing s__dark target-cynosure">
        <div class="u__container u__spacing">
            <div class="row align-items-end">
                <div class="col-md-6 col-lg-7 col-xl-8">
                    <p class="text-center text-md-left">
                        <img class="brand__img img--rwd" alt="Brown University"
                             src="{% static 'img/brown-policy-lab-white.svg' %}">
                    </p>
                    <address class="text-center text-md-left">
                        <a href="https://www.google.com/maps/place/201+Thayer+St,+Providence,+RI+02912/@41.826929,-71.4023595,17z/data=!3m1!4b1!4m5!3m4!1s0x89e4453b55e6a855:0x94a27be7adf3f12!8m2!3d41.826925!4d-71.4001655">
                            <span>Brown University Sciences Library  </span>
                            <span>201 Thayer Street, </span>
                            <span>Providence RI 02912</span>
                        </a>
                    </address>
                    <p class="text-center text-md-left">
                        <a href="mailto:thepolicylab@brown.edu">thepolicylab@brown.edu</a>
                        <a class="breaker" href="tel:401-863-3392">(401) 863-3392</a>
                    </p>
                    <p class="text-center text-md-left m-0">
                        <small>An official website of Brown University</small>
                    </p>
                </div>
                <div class="col-md-6 col-lg-5 col-xl-4 pt-5 pt-md-0">
                    <div id="anchor-signup" class="mc">
                        <div id="mc_embed_signup">
                            <h2 class="h6 text-center text-md-left">Subscribe</h2>
                            <form action="https://brown.us20.list-manage.com/subscribe/post?u=5050b7f10df36f1c41b3743cf&amp;id=cf85e54967"
                                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                  class="validate form-inline mc__form justify-content-center justify-content-md-start"
                                  target="_blank">
                                <div id="mc_embed_signup_scroll" class="form-group mc__wrapper">
                                    <label for="mce-EMAIL" class="mc__label sr-only">Please provide your email
                                        address:</label>
                                    <input type="email" name="EMAIL" class="form-control mc__input" id="mce-EMAIL"
                                           placeholder="name@email.com" required="" value="">
                                    <div class="mc__nectar" aria-hidden="true"><input type="text"
                                                                                      name="b_5050b7f10df36f1c41b3743cf_cf85e54967"
                                                                                      tabindex="-1" value=""></div>
                                    <input type="submit" name="subscribe" id="mc-embedded-subscribe"
                                           class="btn btn-info mc__button" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>


</div>

<script src="{% static '//code.jquery.com/jquery-3.4.0.min.js' %}"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>

<script src="{% static '//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/project.js' %}"></script>

</body>
</html>